// colors

$color-1: #605E68; // dark purple
$color-2: #eeecf5; // light purple
$color-3: #d26c64; // red
$color-4: #FFEA77; // white
$color-5: #ffffff;
$background: #FFEFE5; // body background color - visible when main element scales down

// fonts

$primary-font: 'rooney-web', serif;

// z-index

$main-zindex: 1;
$nav-zindex: 3;
$shadow-zindex: 2;

// nav

$menu-items-number: 4;
